SECRET_KEY = 'Django secret key'
MONGO_CONNECTION_STR = 'mongodb+srv://<username>:<password>@<cluster_name>.mongodb.net/<database_name>?retryWrites=true&w=majority'
DATABASE_NAME = 'database_name'

UNIT_TESTS_MONGO_CONNECTION_STR = 'mongodb+srv://<username>:<password>@<cluster_name>.mongodb.net/<database_name>?retryWrites=true&w=majority'
UNIT_TESTS_DATABASE_NAME = 'test_database_name'
